/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .inputFileName{
    margin-bottom: 1rem;
    width: 100%;
 }

 /* .select2-container--classic .select2-selection--single {
   margin-left:5px;
 } */

 .select2  {
   margin-left: 5px;
 }

 .isceb-wiki-upload-file-type,.isceb-wiki-upload-file-year,.isceb-wiki-upload-file-course{
   margin-right: 5px;
 }

input[type="submit"]:disabled {
  color: #a0a5aa;
  background: #f7f7f7;
  border-color: #ddd;
}


